<head>
    <h1>Texto para el ejercicio</h1>
</head>
<body>
    <h2>Secciones y lineas generales de un documento HIML5</h2>
    <p>La especificación HTML5 trae muchos nuevos elementos a los desarrolladores web, 
        permitiéndoles describir la estructura de un documento web con semántica estandarizada. Este 
        documento describe estos elementos y cómo usarlos para definir el perfil de cualquler 
        documento</p>
    <h2>
        Problemas resueltos por HTML5 
    </h2>
    <p>
        La definición de la estructura de un documento en HTML4 y su algoritmo de perfilado es muy 
tosco y genera numerosos problemas: 
    </p>
    <ol>
        <li>
            HTML quita la necesidad de elementos &#60;div> para definir secciones semánticas sin definir 
                valores específicos para los atributos class, introduciendo un nuevo elemento, &#60;section> el 
                elemento de sección HTML.
        </li>
        <li>
            Mezclar varios documentos es dificil: la inclusion de un sub-documento en un documento 
    principal. Esto se resuelve en HTML5 con los elementos de seccionado (&#60;article>, &#60;section>,
    &#60;nav> y &#60;aside>) son siempre subsecciones de su sección ancestra más cercana.
        </li>
        <li>
            HTML, introduce el elemento chgroup> que oculta todos los elementos de cabecera excepto 
    el primero de más alto rango (por ejemplo, &#60;hgroup>&#60;h1>Justine&#60;/h1>&#60;h2>Les Malheurs de 
    la Vertus&#60;/h2>&#60;/hgroup> crea el perfil 1. Justine).
        </li>
    </ol>
</body>