table, th, td {
    border: 1px solid black;
    
}
table {
    width: 100%;
}
 h3 {
     text-align: center;
 }
#uno {
    background-color: greenyellow;
}

#dos {
    background-color: cyan;
    text-align: left;
}

#seis {
    background-color: pink;
    vertical-align: bottom;
    text-align: right;

}

.medio {
    color:red;
    border: 1px solid red;
}
