<link rel="stylesheet" type="text/css" href="Ex13.css">
<table>
    <h3>Titulo de la tabla</h3>
    <tr>
        <th colspan="3" id="uno">CELDA 1</th>
    </tr>
    <tr>
        <th rowspan="2" id="dos">CELDA 2</th>
        <th class="medio">CELDA 3</th>
        <th>CELDA 4</th>
    </tr>
    <tr>
        <th class="medio">CELDA 5</th>
        <th id="seis" rowspan="2">CELDA 6</th>
    </tr>
    <tr>
        <th>CELDA 7</th>
        <th class="medio">CELDA 8</th>
    </tr>
</table>