html {
    background-image: url("Ex14.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

table, th, td {
    border: 1px solid black;
    
}

th {
    background-color: white;
}
table, td {
background-color: yellow;
text-align: center;
}
table{
    position: absolute;
    left: 40%;
    top: 50%;

    width: 400px;
    height: 50px;
    margin-left​: -800px;
    margin-top: -100px;
  
}