<p>Diarios de: </p>
<ol>
    <li>ESPAÑA...</li>
    <ol style="list-style-type: lower-latin">
        <li>El Mundo</li>
        <li>El País</li>
        <li>La Vamguardia</li>
    </ol>
    <li>EE.UU.</li>
    <ol style="list-style-type: upper-roman">
        <li>New York Times</li>
        <li>The Washington Post</li>
    </ol>
</ol>