table {
    background-image: url("ex16.png");
    color:brown;
}
table, td {
    border: 1px solid black;
    text-align: center;
}
#titulo {
    background-color: green;
}


#amarillo {
    background-color: yellow;
}

#naranja {
    background-color: orange;
}

td{
    
box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.75);
}