<link rel="stylesheet" type="text/css" href="Ex16.css">
<table>
    <tr>
        <td id="titulo" colspan="4">DIFERENCIAS ENTRE EL PERRO Y EL HOMBRE</td>
    </tr>
    <tr>
        <td class="columna1" id="naranja" rowspan="2">DIFERENCIAS</td>
        <td colspan="2" id="naranja">PERRO</td>
        <td rowspan="2" id="naranja">HOMBRE</td>
    </tr>
    <tr>
        <td id="amarillo">PEQUEÑO</td>
        <td id="amarillo">GRANDE</td>
    </tr>
    <tr>
        <td class="columna1">Duracion crecimiento</td>
        <td>10 meses</td>
        <td>18 a 24 meses</td>
        <td>16 años</td>
    </tr>
    <tr>
        <td class="columna1">Tiempo de gestacion</td>
        <td colspan="2">58 a 63 dias</td>
        <td>9 meses</td>
    </tr>
    <tr>
        <td class="columna1">Duración de vida del pelo/cabello</td>
        <td colspan="2">1 año</td>
        <td>2 a 7 años</td>
    </tr>
</table>