#principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-image: url("img/ac.jpg");
    width: 100%;
    height: 100%;
}

.cajas {
    width: 200px;
    height: 200px;
    border-style: solid;
    margin-top:50px;
    margin-right: 50px;
    text-align: center;
}

#a {
    background-image: url("img/back_mantel.jpg");
}

#b {
    background-image: url("img/back_mantel.jpg");
    background-origin: content-box;
    padding: 30px;
    width: 140px;
    height: 140px;
    
}

#c {
    background-image: url("img/back_mantel.jpg");
    background-size: 100% 100%;
}

#d {
    background-image: url("img/back_mantel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    background-color: white;
    padding: 30px;
    width: 140px;
    height: 140px;

}

#e {
    background-image: url("img/dh.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#f{
    background-image: url("img/dh.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: content-box;
    background-color: white;
    padding: 30px;
    width: 140px;
    height: 140px;
}

#g {
    background-image: url("img/dh_2.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color: white;
}

#h {
    background-image: url("img/dh_3.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color: white;
}

#i {
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%)
}

#J {
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
}

#k {
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%); 
}

#l {
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(0, 0, 0, 0) 100%);
}