<link rel="stylesheet" type="text/css" href="Ex17.css">
<body>
    <div id="principal">
        <div id="A" class="cajas"><p>A</p></div>
        <div id="B" class="cajas"><p>B</p></div>
        <div id="C" class="cajas"><p>C</p></div>
        <div id="D" class="cajas"><p>D</p></div>
        <div id="E" class="cajas"><p>E</p></div>
        <div id="F" class="cajas"><p>F</p></div>
        <div id="G" class="cajas"><p>G</p></div>
        <div id="H" class="cajas"><p>H</p></div>
        <div id="I" class="cajas"><p>I</p></div>
        <div id="J" class="cajas"><p>J</p></div>
        <div id="K" class="cajas"><p>K</p></div>
        <div id="L" class="cajas"><p>L</p></div>
    </div>
</body>