html {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: sandybrown;
}
body{
    background-color: blanchedalmond;
}
h2{
    font-size: 30px;
    color: cornflowerblue;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

}
i{
    font-family: Arial, Helvetica, sans-serif;
    color:#3384B6;
}
b{
    font-family: Arial, Helvetica, sans-serif;
    color: #195174;
}

dt {
    text-indent: 30px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
