html {
    font-family:  Lucida Sans Unicode;
    background-color: grey;
    
}
h1{
    text-align: center;
    color: #1A6C07;
    font-weight: normal;
    font-size: 40px;
}
#titulo {
    color: #C07A04;
}
h2 {
    color: #2BCB05;
    border-bottom: 1px solid green;
padding-bottom: 5px;
}

h3{
    color: #C07A04;
}

body {
    background-color: white;
    border: 2px solid grey;
    padding: 10px;

    border-radius: 25px;
    
}

#body {
    position: relative;
    margin-left: 200px;
    padding-left: 20px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid gray;
   
    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(217,217,217,1) 100%);
}

li {
    display: inline-block;
    width: 100px;
    height: 50x;
    padding: 5px;
    margin-bottom:10px;
    border: 1px solid grey;
    background: rgb(163,222,77);
background: linear-gradient(0deg, rgba(163,222,77,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
    text-align: center;
}


a {
    text-decoration:none;
    color: black;
    width: 50%;
    height: 50%;
}

a.active {
    color: blue;
}

#llista {
    display: inline-block;
    float: left; 
  left: auto;
  width: 100px;
  height: 120px;
}

#selected {
    background: rgb(213,171,107);
background: linear-gradient(0deg, rgba(213,171,107,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
}

img {
    width: 100%;
   height: 171px;
}

#commons {
    color: grey;
    text-align: center;
}