<table>
    <tr>
        <td>NOMBRE</td>
        <td>CALLE</td>
        <td>POBLACION</td>
        <td>PROVINCIA</td>
    </tr>
    <tr>
        <td>DEPORTES 1</td>
        <td>C/Avenida 8</td>
        <td>Don Benito</td>
        <td>Badajoz</td>
    </tr>
    <tr>
        <td>DEPORTES 2</td>
        <td>C/Fernando 5</td>
        <td>Madrid</td>
        <td>Madrid</td>
    </tr>
    <tr>
        <td>DEPORTES 3</td>
        <td>C/Deportiva 31</td>
        <td>Silla</td>
        <td>Valencia</td>
    </tr>
</table>