<table>
    <tr>
        <th>Actividad</th>
        <th>Tarifa/Hora</th>
    </tr>
    <tr>
        <td>Aerobic</td>
        <td rowspan="2">3€</td>
    </tr>
    <tr><td>Step</td></tr>
    <tr>
        <td>Msuculación</td>
        <td>4€</td>
    </tr>
</table>